{% extends "@UXFCms/email/layout.html.twig" %}

{% block content %}
<div>
    <h1 class="heading" style="font-size: 1.625em; font-weight: 700; line-height: 1.333em; margin: 0 auto; max-width: 18em; padding: 1.5385em 0.6153em 0;">
        Obnovení hesla
    </h1>

    <p class="description" style="color: #8C909C; font-size: 1.125em; line-height: 1.5em; margin: 0 auto; max-width: 20em; padding: 1.5em 1em 0;">
        Pro obnovení vašeho hesla použijte následující webovou stránku:
    </p>

    <p class="description" style="color: #8C909C; font-size: 1.125em; line-height: 1.5em; margin: 0 auto; max-width: 20em; padding: 1.5em 1em 0;">
        <a href="{{ url }}" style="color: #1e40af; font-size: 1.625em;">Obnovit heslo</a>
    </p>

    <p class="description" style="color: #8C909C; font-size: 1.125em; line-height: 1.5em; margin: 0 auto; max-width: 20em; padding: 1.5em 1em 0;">
        Platnost odkazu je 48 hodin.
    </p>
</div>
{% endblock %}