<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templates index</title>
    <style>
        * {
            font-family: 'Courier New', monospace;
        }
    </style>
</head>
    <body>
    <h1>Email templates:</h1>
        <ul>
            {% for template in templates %}
                <li><a href="{{ template.link }}">{{ template.title }}</a></li>
            {% endfor %}
        </ul>
    </body>
</html>
