<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OIDC Error</title>
    <style>
        * {
            font-family: 'Courier New', monospace;
        }
    </style>
</head>
<body>
    <main style="margin: auto; margin-top: 50px; text-align: center">
        <p>{{ message }}</p>
        <a href="/">go to homepage</a>
    </main>
</body>
</html>